.trending{
    .trend-list-slider{
        .swiper-wrapper{
            .swiper-slide{
                text-align: center;
                .thumb{
                    height: 200px;
                    margin-bottom: 20px;
                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: contain
                    }
                }
                .info{
                    p{
                        margin-bottom: 3px;
                    }
                    .pro-status{
                        height: 10px;
                        line-height: 10px;
                        color: $color_yellow;
                        font-size: $font_size_8;
                        text-transform: uppercase
                    }
                    .pro-name{
                        font-size: $font_size_12;
                        text-transform: uppercase
                    }
                    .pro-type{
                        font-size: $font_size_12;
                        text-transform: capitalize
                    }
                    .pro-current-price{
                        font-size: $font_size_12;
                        text-transform: uppercase;
                        &.has-sale{
                            color: $color_red;
                        }
                    }
                    .pro-real-price{
                        font-size: $font_size_10;
                        text-transform: uppercase;
                        text-decoration: line-through;
                        color: $color_dark_gray;
                        margin-bottom: 10px;  
                    }
                    .pro-seller{
                        font-size: $font_size_10;
                        span{
                            font-style: italic;
                        }
                    }
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev{
            background-image: none;
        }
        .swiper-button-next{
            right: -15px;
        }
        .swiper-button-prev{
            left: -2px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .trending{
        .trend-list-slider{
            .swiper-wrapper{
                .swiper-slide{
                    width: 50% !important;
                }
            }
        }
    }
}